html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#header {
	text-align: center;
}

#banner {
	padding-top: 70px;
	background-color: #E8E8E8;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #696969;
	padding-bottom: 70px;
	border-bottom: 5px dashed #FFDEAD;
}

#banner #logo a {
	margin-right: 50px;
	margin-left: 50px;
}

.link-logo {
	animation: link-logo-spin infinite 30s linear;
	height: 170px;
	width: 170px;
}

@keyframes link-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#content-about-me {
	background-color: #FFDEAD;
	padding-top: 5px;
	padding-bottom: 25px;
	font-size: 30px;
	color: Brown;
}

#education {
	font-size: 15px;
	color: black;
	font-weight: bolder;
}

.my-photo {
	border-radius: 20px;
	box-shadow: 100px;
}

#about-me {
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: chocolate;
}

#experiments {
	text-align: center;
	padding-top: 25px;
	border-top: 5px dashed #FFDEAD;
	background-color: #2F4F4F;
	color: white;
	padding-bottom: 25px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 50px;
}

#experiments-logo {
	width: 25%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: wrap;
}

#experiments-logo img {
	margin: 20px;
}

footer {
	background-color: brown;
	border-top: 5px dashed #2F4F4F;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
	color: white;
	font-family: 'Encode Sans Expanded', sans-serif;
	font-size: 15px;
	margin: 0 auto;
}

